.container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
    width: 100%;
}

.trapeze {
    position: absolute;
    z-index: -1;
    max-width: 40%;
    min-width: 40%;
    border-top: 100vh solid white;
    border-right: 250px solid transparent;
}

.imageBackground {
    position: absolute;
    box-sizing: border-box;
    right: 0;
    z-index: -2;
    min-width: 60%;
    height: 100vh;
    background: url('../../icons/mainBackground.png') no-repeat;
    background-size: cover;
}
