.container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
    width: 100%;
}

.imageBackground {
    position: absolute;
    box-sizing: border-box;
    right: 0;
    z-index: -2;
    min-width: 60%;
    height: 100vh;
    background: url('../../icons/mainBackground.png') no-repeat;
    background-size: cover;
    animation: slide-left 1s;
}

.imageBackground::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 100vh solid white;
    border-right: 280px solid transparent;
}


@-webkit-keyframes slide-left{
    0% {
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
    100%{
        -webkit-transform:translateX(-100px);
        transform:translateX(-100px)
    }
}
@keyframes slide-left{
    0%{
        -webkit-transform:translateX(700px);
        transform:translateX(700px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform:translateX(0)
    }
}

