.serviceElement {
    position: relative;
    width: calc(100vh/2.1);
    height: calc(100vh/2.1);
}

.serviceImage {
    width: 100%;
}

.serviceInfo {
    position: absolute;
    top: 0 ;left: 0; bottom: 0; right: 0;
    margin: 20px  auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9F65A6;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 70px;
    width: calc(100vh/5);
}
.serviceInfo p {
    margin: 0;
    font-size: 14px;
    color: white;
}
