.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:-60px;
    margin-right:-60px;
    overflow: hidden;
}
.mainContent {
    display: flex;
    min-height: 600px;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}
.sliderBlock {
    position: relative;
    display: flex;
    min-height: 600px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sliderElement {
    margin: 0 32px;
}

.frontArrow {
    cursor: pointer;
    margin-right: 32px;
}
.backArrow {
    cursor: pointer;
    margin-left: 32px;
}
.arrow {
    color: #9F65A6;
    height: 150px;
}
.navigationPanel {
    margin: 50px 0;
    font-size: 32px;
}
