.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:-60px;
    margin-right:-60px;
}

.navigationPanel {
    margin: 50px 0;
    font-size: 32px;
}

/*CAROUSEL STYLES*/
.carousel {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
}
.slider {
    display: flex;
    height: 100%;
    width: 400%;
    flex-shrink: 0;
    transition: all 2s;
}

.carouselBlock {
    display: flex;
    min-height: 500px;
    align-items: center;
    width: 100vw;
    animation: loadCarousel 1s forwards;
}

@keyframes loadCarousel {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*---------------------*/

.next {
    height: 150px;
    margin-right: 32px;
    cursor: pointer;
}
.prev {
    height: 150px;
    margin-left: 32px;
    cursor: pointer;
}

.sliderBlock {
    flex-basis: 25%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 500px;
    width: 100%;
}

.serviceElement {
    margin: 0 32px;
}

.serviceElement:first-of-type,
.serviceElement:last-of-type {
    margin: 0;
}

.arrow {
    color: #9F65A6;
    height: 150px;
}

.backgroundImage {
    position: absolute;
    box-sizing: border-box;
    left: 10%;
    top:0;
    z-index: -2;
    width: 100vh;
    height: 100vh;
    background: url('../../icons/rozz-icon-empty.svg') no-repeat;
    background-size: cover;
    opacity: 0.1;
}

