.container {
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.links {
    font-size: 22px;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logoButton {
    background: url('../../icons/logoPurple.svg') no-repeat;
    outline: none;
    min-width: 285px;
    height: 50px;
    background-size: cover;
    border: none;
    box-shadow: none;
    transition: background 0.5ms ease-in;
    animation-delay: 1.1s;
    animation-duration: 1.5s;
}

.logoButton:hover{
    cursor: pointer;
    /*background: url('../../icons/logoBlack.svg') no-repeat;*/
}

.animatedLinks {
    animation-delay: 0.5s;
    animation-duration: 1s;
}
