.container {
    margin-top: 100px;
    height: 100%;
    width: 1580px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: opacity 2s;
}
.main {
    margin: auto;
    position: absolute;
    top: 120px; left: 0; bottom: 0; right: 0;
    height: 240px;
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    text-align: center;
    background-color: white;
    overflow: hidden;
}

.mainText {
    font-size: 30px;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.backgroundImage {
    position: absolute;
    box-sizing: border-box;
    left: 20%;
    top:0;
    z-index: -2;
    width: 100vh;
    height: 100vh;
    background: url('../../icons/rozz-icon-empty.svg') no-repeat;
    background-size: cover;
    opacity: 0.1;
}
